body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.header {
  background-color: #ff6347;
  padding: 20px;
  text-align: center;
}

.custom-red {
  background-color: #c32b2f; /* Replace with your red-500 color code */
  color: #ffffff; /* Text color */
  border-color: #c32b2f; /* Border color */
}
#specifyColor {
  accent-color: #c32b2f;
}
.card-registration-2 {
  /*border: 3px solid rgb(131, 129, 129); /* Border size eka wadi karanawa */
  border-radius: 15px; /* Border radius eka set karanawa */
  padding: 20px; /* Box eka atulata spacing ekak demu */
}
.container {
  position: relative;
  top: -100px;
  height: 80vh;
  width: 65%;
  max-width: 65%;
  margin: auto;
  box-shadow: #504e4e;
}
.full-screen-img {
  width: 100%;
  height: 55vh;
}
.card-registration {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1); /* Shadow එකක් එන්න */
}
.input-color {
  background-color: #f4f4f4;
}
